@page
@model RazorPagesIntroLab1._1.Pages.NorthWindModel
@{
}


<h1>Alla Suppliers</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Company Name</th>
            <th scope="col">Region</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var supp in Model.Suppliers)
        {
            <tr>
                <td>@supp.Id</td>
                <td>@supp.CompanyName</td>
                <td>@supp.Region</td>
                <td> 
                    <a asp-page="/SupplierInfo" asp-route-suppId="@supp.Id" class="btn btn-primary">
                        See Info
                        
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

